#accordion {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  #faq {
    border-bottom: solid lightgray 1px;
  }
  
  .card-link {
    color: orangered;
  }
  
  .card-header {
    text-align: center;
  }